<h1 *ngIf="book != undifined"></h1> 

<!-- <div class="row"  *ngIf="book != undefined" >
    <div class="col-md-4">
        <img src="http://localhost:4000/{{book[0].thumbnail}}" class="book" alt=""><br/>
        <div><a (click) = "onSelect(book[0].bookId)"  class="btn btn-success"><i class="glyphicon glyphicon-pencil"></i></a>
    </div>

    <div class="col-md-4">
        <div>
            <strong>Rating:{{book[0].rating}} </strong> 
            // <app-rating [count]="book[0].rating"></app-rating> 
        </div>
    </div>
    <div class="col-md-4">
        <div>
            <strong>{{book[0].auther_name}}</strong>
        </div>
        <div>
            <strong>{{book[0].category_name}}</strong>
        </div>
    </div>
    
</div> -->


<div class="book_detail_container" *ngIf="book != undefined">

    <div class="book_image_container col-md-4">
        <i class="book_image ">
            <img src="http://localhost:4000/{{book[0].thumbnail}}" alt="">
        </i>
    </div>

    <div class="book_detail_1 col-md-8" >
        <h2 class="book_name">{{book[0].book_name}}</h2>
        <p class="category">{{book[0].category_title}}</p>
        <p class="author_name">{{book[0].auther_name}}</p>
        <p class="rating">
            <strong>Rating:{{book[0].rating}}/5 </strong> 
        </p>
        <div class="book_about">
            <span>About</span>
            <p>{{book[0].descripation}}</p>
            
            </div>
    </div>

    

</div>